body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea.vertical {
  resize: vertical;
}

pre {
  word-wrap: break-word;
}

.head {
  display: flex;
  // align-items: center;
  justify-content: center;
}

.centerHead {
  text-align: center;
}
