<h2>Create a New Tab</h2>

<input type="text" name="tabTitle" ng-model="newTab.title" placeholder="Title">
<input type="text" name="tabArtist" ng-model="newTab.artist" placeholder="Artist">
<select ng-model="newTab.type">
  <option value="chords">Chords</option>
  <option value="tab">Full Tab</option>
  <option value="partial">Partial Tab</option>
</select>
<textarea class="vertical" name="tabBody" ng-model="newTab.body" cols="128" wrap="hard"></textarea>
<input type="submit" name="submit" ng-click="submitNew(newTab)">
